
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>トップ画面</title>
</head>
<body th:with="loginUser = ${session['loginUser']}">
	<h1>トップ画面</h1>

	<div class="error-messages" th:if="!${#lists.isEmpty(errorMessages)}">
		<ul>
			<li th:each="message : ${errorMessages}">
				<span th:text="*{message}"></span>
			</li>
		</ul>
	</div>

	<h3>ユーザー情報</h3>
	<p th:text="Id + ${loginUser.name}"></p>

	<div class="posts">
		<div th:each="post : ${posts}" th:object="${post}">
			<p th:text="ユーザー名 + *{userName}"></p>
			<p th:text="*{subject}"></p>
			<p th:text="*{category}"></p>
			<p th:text="*{text}"></p>
			<!-- 投稿削除のフォーム -->
			<form th:action="@{/post/delete}" method="post" th:if="${loginUser.id == post.userId}">
				<input type="hidden" name="postId" th:value="${post.id}" />
				<input type="submit" value="投稿削除"  onclick="return confirm('投稿を削除しますか?')" />
			</form>

			<!-- コメントの投稿フォーム -->
			<form th:action="@{/comment/new}" method="post" th:object="${commentForm}">
				<input type="hidden" name="userId" th:value="${session['loginUser'].id}" />
				<input type="hidden" name="postId" th:value="${post.id}" />
				<input th:field="*{text}" />

				<input type="submit" />

			</form>
			<div class="comments">
				<h4>コメント一覧</h4>
				<th:block th:each="comment : ${comments}" th:object="${comment}" th:if="${comment.postId == post.id}" >
					<p th:text="${comment.text}"></p>
					<form th:action="@{/comment/delete}" method="post" th:if="${loginUser.id == comment.userId}">
						<input type="hidden" name="commentId" th:value="${comment.id}" />
						<input type="submit" value="コメント削除"  onclick="return confirm('コメントを削除しますか?')" />
					</form>
					<div>--------------</div>
				</th:block>
			</div>
			<div>---------------------------------------------</div>
		</div>
	</div>

	<!-- 画面右側 -->
		<div class="top-right">
			<div class="post-search">

				<h3>投稿検索</h3>

				<form th:action="@{/}" th:object="${searchForm}">
					<!-- カテゴリー -->
					<div class="category-search">
						<label for="category"><strong>カテゴリー</strong></label> <br />
						<input name="category" id="category" th:value="*{category}" /> <br />
					</div>

					<!-- 作成日 -->
					<div class="date-search">
						<label for="startDate"><strong>投稿日</strong></label> <br />
						<input type="date" th:field="*{startDate}" th:value="*{startDate}" /> <br />
						～
						<!-- 作成日 -->
						<input type="date" th:field="*{endDate}" th:value="*{endDate}" /> <br />
					</div>

					<input type="submit" value="検索" class="search-btn" />
				</form>
			</div>
		</div>

</body>
</html>