
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ログイン画面</title>
</head>
<body>
	<h2>ログイン画面</h2>


	<div class="error-messages" th:if="!${#lists.isEmpty(errorMessages)}">
		<ul>
			<li th:each="message : ${errorMessages}">
				<span th:text="*{message}"></span>
			</li>
		</ul>
	</div>

	<form th:action="@{/login}" method="post" th:object="${loginForm}" >
		<div>
			ID:<input th:field="*{loginId}" />
		</div>
		<div>
			パスワード:<input type="password" th:field="*{password}" />
		</div>

		<input type="submit" />
	</form>

</body>
</html>