<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>新規投稿</title>
</head>
<body>
	<h2>新規投稿</h2>


	<div class="error-messages" th:if="!${#lists.isEmpty(errorMessages)}">
		<ul>
			<li th:each="message : ${errorMessages}">
				<span th:text="*{message}"></span>
			</li>
		</ul>
	</div>

	<form th:action="@{/post/new}" method="post" th:object="${postForm}">
		<div>
			<label th:field="*{subject}">件名</label>
			<input th:field="*{subject}" />
		</div>

		<div>
			<label th:field="*{category}">カテゴリー</label>
			<input th:field="*{category}" />
		</div>

		<div>
			<label th:field="*{text}">本文</label>
			<textarea th:field="*{text}"></textarea>
		</div>

		<input type="submit" />
	</form>

</body>
</html>