<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>新規ユーザー登録</title>
	</head>
<body>

	<div class="form-contents">

		<h2>新規ユーザー登録</h2>

		<div class="error-messages" th:if="!${#lists.isEmpty(errorMessages)}">
			<ul>
				<li th:each="message : ${errorMessages}">
					<span th:text="*{message}"></span>
				</li>
			</ul>
		</div>

		<form th:action="@{signup}" method="post" th:object="${userForm}">



			<!-- ログインID -->
			<div>
				<label >ログインID(半角英数字 6文字～20文字)</label>
				<input type="text" th:field="*{loginId}" th:value="*{loginId}"/>
			</div>

			<!-- 名前 -->
			<div>
				<label>名前(10文字以下)</label>
				<input  th:field="*{name}" />
			</div>

			<!-- パスワード -->
			<div>
				<label>パスワード(記号を含む全ての半角文字で6文字以上20文字)</label>
				<input type="password" th:field="*{password}" />
			</div>

			<!-- パスワード確認用 -->
			<div>
				<label>パスワード (確認用)</label>
				<input type="password" th:field="*{passwordConfirmtion}" />
			</div>

			<!-- 自分の支店、役職は変更不可能 -->
			<!-- 支店一覧 -->
			<select name="branchId">
				<option th:each="branch : ${branchList}"
						th:value="${branch.id}"
						th:text="${branch.name}"
						th:selected="${userForm.branchId == branch.id}"></option>
			</select>

			<!-- 部署・役職一覧 -->
			<select name="positionId">
				<option th:each="position : ${positionList}"
						th:value="${position.id}"
						th:text="${position.name}"
						th:selected="${userForm.positionId == position.id}"></option>
			</select>

			<input type="submit" />
		</form>
	</div>
</body>
</html>